<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    
    <link rel='stylesheet' href='/css/style.css' />
    <script src='jquery.min.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src='/js/skrypt.js'></script>
  </head>
  <body>
    <div id="wraper">
      <div id='msg'></div>
      <div id='redTeam'>Red Team<hr/><div id='rteam'></div></div>
      <div id='blueTeam'>Blue Team<hr/><div id='bteam'></div></div>
      <div id="gameField"></div>
    </div>
    <div id='mask'></div>
    <div id='modal'></div>

  </body>
</html>

