<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/css/style.css' />
    <script src='jquery.min.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src='/js/skrypt.js'></script>
  </head>
  <body>
    <input type='text' id='name' placeholder="Your name"/><button id="start">START!</button>
    <div id='redTeam'></div><div id='blueTeam'></div><div id='msg'></div>
    <div id="gameField"></div>
    <div id='modal'></div>
  </body>
</html>

